<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUC3y62bkHXsAXRe7pNLLH2L3jZh5s53o</string>
	<key>GCM_SENDER_ID</key>
	<string>98973897901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.techsol.drivemate</string>
	<key>PROJECT_ID</key>
	<string>drivemate-ac4ad</string>
	<key>STORAGE_BUCKET</key>
	<string>drivemate-ac4ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98973897901:ios:25ce95a984334bfac1a224</string>
</dict>
</plist>